*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;

}
body{
  background: #f5f8fa;
}
//----公用化------//
.header{
  background: #fff;
  height: 70px;
  line-height: 70px;
  color: #575e65;
  box-shadow: 0 3px 8px 0 rgba(175,179,209,.16);
  &:after{
    content: "";
    clear: both;
    display: block;
  }
  .container{
    width: 1390px;
    height: 100%;
    margin: 0 auto;
    .msg{
      float: left;
      color: #e8eff8;
      font-size: 16px;
      a{
        font-size: 20px;
        font-weight: 600;
        color: #575e65;
        margin-right: 10px;
      }
      span{
        color: #575e65;
        margin-left: 10px;
      }
    }
    ul.nav{
      float: left;
      height: 100%;
      margin-left: 30px;
      &:after{
        content: "";
        clear: both;
        display: block;
      }
      li{
        float: left;
        margin: 0 15px;
        a{
          color: #575e65;
          display: inline-block;
          height: 100%;
          position: relative;
          &:hover{
            color: #32a3fd;
          }
          &.active{
            color: #32a3fd;
            &:after{
              display: block;
            }
          }
          &:after{
            content: "";
            width: 75%;
            height: 4px;
            display: inline-block;
            background: #2b9ef9;
            box-shadow: 0 -4px 10px 0 rgba(192,232,255,.8);
            border-radius: 6px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            display: none;
          }
        }
      }
    }
    .user{
      float: right;
      height: 100%;
      li{
        display: inline-block;
        font-size: 12px;
        margin: 0 6px;
        img{
          width: 32px;
          height: 32px;
          border-radius: 50%;
          vertical-align:middle;
        }
        a{
          img{
            width: 14px;
            height: 13px;
          }
        }
      }
    }
  }
}
.footer{
  width: 100%;
  background: #edf1f5;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #575e65;
  font-size: 12px;
  position: absolute;
  bottom: 0;left: 0;
  margin: auto;
}
.wrap {
  background: #fff;
  box-shadow: 0 0 4px 0 #ebf4fa;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  min-height: 100px;
}
.mt20{
  text-align: left;
  margin-top: 20px;
  line-height: 20px;
  h2{
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    color: #8f8f8d;
  }
  &:before{
    content: "";
    height: 20px;
    width: 4px;
    display: inline-block;
    background: #2b9ef9;
    box-shadow: 4px 0 10px 0 rgba(192,232,255,.8);
    margin-right: 16px;
    border-radius: 4px;
  }
}
select{
  height: 39px;
  border: 1px solid #ececec;
  outline: none;
  margin: 0 5px;
  color: #848e99;
  padding-right: 20px;
  padding-left: 10px;
  -webkit-appearance: none;   /*去除chrome浏览器的默认下拉图片*/
  -moz-appearance: none;  /*去除Firefox浏览器的默认下拉图片*/
  background:url('../images/icon07.png') no-repeat 95% center;
}
input.time{
  width: 120px;
  height: 39px;
  padding-left: 10px;
  border: 1px solid #ececec;
  outline: none;
  color: #848e99;
  border-radius: 5px;
  background: url(../images/icon08.png)no-repeat 95% center;
}
input[type="submit"],input[type="reset"],input[type="button"]{
  height: 39px;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  background: #2b9ef9;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
  color: #fff;
}
input[type="reset"]{
  background: #c9caca;
}
//-----弹框-----------//
.shade{
  display: none;
  position: fixed;
  top:0;left: 0;right: 0;
  bottom: 0;margin: auto;
  background: rgba(0,0,0,0.6);
  &.active{
    display: block;
  }
}
.ball{
  width:650px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top:0;left: 0;right: 0;
  bottom: 0;margin: auto;
  padding-top: 20px;
  &.active{
    width: 475px;
  }
  h2{
    color: #8f8f8d;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    &:before{
      content: "";
      height: 20px;
      width: 4px;
      background: #2b9ef9;
      box-shadow: 4px 0 10px 0 rgba(192,232,255,.8);
      margin-right: 16px;
      border-radius: 4px;
      position: absolute;
      top:0;left: 0;
    }
  }
  .close{
    width: 30px;
    height: 30px;
    position: absolute;
    top:20px;right: 10px;
    margin: auto;
    background: url(../images/icon11.png)no-repeat right top;
  }
  span.bules{
    color: #4ebff0;
    text-align: center;
    display: block;
  }
  .border{
    width: 100%;
    height: 2px;
    background: #e2e2e2;
    margin: 13px auto;
  }
  .inners{
    padding: 20px;
    max-height: 330px;
    overflow: auto;
    font-size: 13px;
    text-align: center;
    i{
      font-style: normal;
      color: #bfbfc0;
      line-height: 30px;
    }
    .border{
      width: 100%;
      height: 2px;
      background: #e2e2e2;
      margin: 13px auto;
    }
    .font{
      text-align: left;
      color: #333;
      p{
        text-indent: 4em;
        color: #878585;
        margin-top: 10px;
      }
      i{
        float: right;
        color: #878585;
        line-height: 20px;
        text-align: right;
        margin-top: 20px;
      }
    }
    .form{
      width: 100%;
      text-align: left;
      margin-top: 10px;
      color: #878585;
      &.pasword{
        span{
          float: left;
          width: 20%;
          text-align: right;
          line-height: 40px;
        }
        input{
          width: 60%;
        }
      }
      input{
        width: 80%;
        height: 39px;
        border: 1px solid #ececec;
        border-radius: 5px;
        margin: 0 5px;
        outline: none;
      }
      textarea{
        width: 80%;
        height: 100px;
        border: 1px solid #ececec;
        margin: 0 5px;
        resize: none;
      }
    }
    .huifan{
      font-size: 13px;
      margin-top: 20px;
      li{
        line-height: 26px;
        span{
          margin-right: 35px;
          color: #878585;
        }
      }
    }
    span.bule{
      color: #4ebff0;
    }
    table{
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #e8ecef;
      tr{
        font-size: 12px;
        color: #4f5f6f;
        height: 38px;
        line-height: 38px;
        border: 1px solid #e8ecef;
      }
    }
    ul.icon{
      width: 100%;
      text-align: left;
      li{
        width: 19%;
        height: 60px;
        display: inline-block;
        text-align: center;
        color: #b2b2b2;
        img{
          display: block;
          width: 40px;
          margin: 10px auto;
        }
      }
    }
    .forms{
      text-align: left;
      span{
        width: 66px;
        display: inline-block;
        text-align: right;
        color: #878787;

      }
      select{
        width: 70%;
        margin-top: 10px;
      }
      input[type="text"]{
        width: 90px;
        height: 39px;
        border-radius: 5px;
        padding-left: 10px;
        border: 1px solid #ececec;
        outline: none;
        color: #848e99;
        margin-top: 10px;
      }
      textarea{
        width: 80%;
        height: 100px;
        border: 1px solid #ececec;
        margin: 0 5px;
        resize: none;
        margin-top: 20px;
      }
    }
    ul.log{
      width: 100%;
      li{
        text-align: left;
        color: #b2b2b2;
        font-size: 12px;
        &:after{
          content: "";
          clear: both;
          display: block;
        }
        p{
          padding-left: 20px;
        }
        i{
          font-style: normal;
          float: right;
        }
      }
    }
  }
}

.chaozuo{
  width:450px;
  border: 1px solid #d0d0d0;
  height: 100%;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top:0;right: -450px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  transition: 1s ease;
  &.active{
   right: 0;
  }
  h2{
    color: #8f8f8d;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
    &:before{
      content: "";
      height: 20px;
      width: 4px;
      background: #2b9ef9;
      box-shadow: 4px 0 10px 0 rgba(192,232,255,.8);
      margin-right: 16px;
      border-radius: 4px;
      position: absolute;
      top:0;left: 0;
    }
  }
  .close{
    width: 30px;
    height: 30px;
    position: absolute;
    top:20px;right: 10px;
    margin: auto;
    background: url(../images/icon11.png)no-repeat right top;
  }
  span.bules{
    color: #4ebff0;
    text-align: center;
    display: block;
  }
  .border{
    width: 100%;
    height: 2px;
    background: #e2e2e2;
    margin: 13px auto;
  }
  .inners{
    padding: 20px;
    font-size: 13px;
    text-align: center;
    i{
      font-style: normal;
      color: #bfbfc0;
      line-height: 30px;
    }
    .border{
      width: 100%;
      height: 2px;
      background: #e2e2e2;
      margin: 13px auto;
    }
    .font{
      text-align: left;
      color: #333;
      p{
        text-indent: 4em;
        color: #878585;
        margin-top: 10px;
      }
      i{
        float: right;
        color: #878585;
        line-height: 20px;
        text-align: right;
        margin-top: 20px;
      }
    }
    .form{
      width: 100%;
      text-align: left;
      margin-top: 10px;
      color: #878585;
      &.pasword{
        span{
          float: left;
          width: 20%;
          text-align: right;
          line-height: 40px;
        }
        input{
          width: 60%;
        }
      }
      input{
        width: 80%;
        height: 39px;
        border: 1px solid #ececec;
        border-radius: 5px;
        margin: 0 5px;
        outline: none;
      }
      textarea{
        width: 80%;
        height: 100px;
        border: 1px solid #ececec;
        margin: 0 5px;
        resize: none;
      }
    }
    .huifan{
      font-size: 13px;
      margin-top: 20px;
      li{
        line-height: 26px;
        span{
          margin-right: 35px;
          color: #878585;
        }
      }
    }
    span.bule{
      color: #4ebff0;
    }
    table{
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #e8ecef;
      tr{
        font-size: 12px;
        color: #4f5f6f;
        height: 38px;
        line-height: 38px;
        border: 1px solid #e8ecef;
      }
    }
    ul.icon{
      width: 100%;
      text-align: left;
      li{
        width: 19%;
        height: 60px;
        display: inline-block;
        text-align: center;
        color: #b2b2b2;
        img{
          display: block;
          width: 40px;
          margin: 10px auto;
        }
      }
    }
    .forms{
      text-align: left;
      span{
        width: 66px;
        display: inline-block;
        text-align: right;
        color: #878787;

      }
      select{
        width: 70%;
        margin-top: 10px;
      }
      input[type="text"]{
        width: 90px;
        height: 39px;
        border-radius: 5px;
        padding-left: 10px;
        border: 1px solid #ececec;
        outline: none;
        color: #848e99;
        margin-top: 10px;
      }
      textarea{
        width: 80%;
        height: 100px;
        border: 1px solid #ececec;
        margin: 0 5px;
        resize: none;
        margin-top: 20px;
      }
    }
    ul.log{
      width: 100%;
      li{
        text-align: left;
        color: #b2b2b2;
        font-size: 12px;
        &:after{
          content: "";
          clear: both;
          display: block;
        }
        p{
          padding-left: 20px;
        }
        i{
          font-style: normal;
          float: right;
        }
      }
    }
  }
}
//-----登陆--------//
.login-content{
  width: 407px;
  height: 340px;
  background: #fff;
  padding: 20px 60px;
  box-sizing: border-box;
  border-radius: 10px;
  position: fixed;
  top:0;left: 0;right: 0;bottom: 0;
  margin: auto;
  h6{
    font-size: 23px;
    color: #575e65;
    line-height: 60px;
    text-align: center;
  }
  .account,.password{
    width: 100%;
    height: 40px;
    border: 1px solid #9aa5b6;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 5px;
    input{
      width: 90%;
      height: 98%;
      border: none;
      float: right;
      outline: none;
    }
  }
  .account{
    background: url(../images/icon01.png)no-repeat;
    background-position: 6px center;
  }
  .password{
    background: url(../images/icon02.png)no-repeat;
    background-position: 6px center;
  }
  .motion{
    width: 100%;
    margin-top: 15px;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    color: #7b8186;
    label{
      display: inline-block;
      width: 15px;
      height: 13px;
      background: url(../images/icon03.png)no-repeat;
      background-position: center center;
    }
    input{
      width: 15px;
      height: 15px;
      opacity: 0;
      position: absolute;
      top:0;left: 0;
      margin: auto;
    }
    input[type="checkbox"]:checked + label{
      background: url(../images/icon04.png)no-repeat;
      background-position: center center;
    }
    a{
      float: right;
      color: #63bfe4;
    }
    span{
      line-height: 20px;
    }
  }
  input[type="submit"]{
    width: 100%;
    height: 40px;
    background: #00a2e9;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor:pointer;
  }
}
//-----工作台--------//
.workcontent{
  width: 1390px;
  margin: 0 auto;
  .main-wrap{
    padding: 40px 0;
    position: relative;
    .side{
      width: 250px;
      position: absolute;
      .wrap--small{
        text-align: center;
        margin-bottom: 20px;
        img{
          border-radius: 50%;
          margin-top: 10px;
        }
        p{
          line-height: 30px;
        }
        ul{
          margin: 0 30px 36px;
          color: #848e99;
          li{
            height: 40px;
            line-height: 40px;
            margin-top: 9px;
            text-align: left;
            font-size: 13px;
            border-bottom: 1px solid #f5f8fa;
            span{
              float: right;
              color: #afbdcc;
            }
          }
        }
        div.set{
          width: 100%;
          padding: 0 20px;
          font-size: 13px;
          color:#848e99;
          .radio{
            display: inline-block;
            width: 40%;
            position: relative;
            line-height: 40px;
            padding-left: 20px;
            box-sizing: border-box;
            &:after{
              content: "";
              width: 10px;
              height: 10px;
              border-radius: 50%;
              border: 1px solid #b2b2b2;
              position: absolute;
              top:14px;left: 0;
              margin: auto;
            }
          }
        }

      }
    }
    .index-content{
      padding-left: 270px;
      .inner{
        width: 100%;
        position: relative;
        .index-left{
          width: 100%;
          box-sizing: border-box;
          padding-right: 230px;
          .statistics{
            width: 100%;
            background: #fff;
            border: 1px solid transparent;
            .form{
              float: right;
              color: #848e99;
              font-size: 13px;
              padding-right: 10px;
            }
            .msg{
              width: 100%;
              margin-top: 30px;
              padding: 0 40px;
              margin-bottom: 30px;
              position: relative;
              box-sizing: border-box;
              &:after{
                content: "";
                width: 2px;
                height: 100%;
                position: absolute;
                top:0;left: 46%;
                margin: auto;
                background: #efefef;
              }
              li{
                display: inline-block;
                width: 24%;
                height: 30px;
                .title{
                  color: #888686;
                  font-size: 13px;
                  padding-left: 15px;
                  position: relative;
                  box-sizing: border-box;
                  margin-bottom: 10px;
                  &:after{
                    content: "";
                    position: absolute;
                    top:0;left: 0;bottom: 0;
                    margin: auto;
                    width: 5px;
                    border-radius: 50%;
                    height: 5px;
                    background: #2b9efe;
                  }
                  img{
                    width: 13px;
                  }
                }
                p{
                  color: #848e99;
                  font-size: 12px;
                  padding-left: 15px;
                  line-height: 25px;
                }
              }
            }
          }
          .funt{
            margin-top: 30px;
            padding-bottom: 30px;
            ul{
              width: 100%;
              padding: 0 40px;
              box-sizing: border-box;
              li{
                width: 65px;
                height: 65px;
                margin-right: 30px;
                display: inline-block;
                background: #78caff;
                margin-top: 30px;
                border-radius: 5px;
                a{
                  display: block;
                  width: 100%;
                  text-align: center;
                  height: 100%;
                  font-size: 12px;
                  color: #fff;
                  img{
                    height: 23px;
                    margin: 6px auto;
                    display: block;
                  }
                }
              }
            }
          }
        }
        .inner-right{
          width: 212px;
          position: absolute;
          top:0;right: 0;
          margin: auto;
          .right{
            background: #fff;
            padding-bottom: 20px;
            border-top:1px solid transparent;
            ul{
              padding: 0 20px;
              box-sizing: border-box;
              margin-top: 10px;
              li{
                font-size: 12px;
                line-height: 40px;
                color: #848e99;
                span{
                  color: #fff;
                  font-size: 10px;
                  padding: 2px 6px;
                  border-radius: 10px;
                  &.green{
                    background: #5dc800;
                  }
                  &.orange{
                    background: #f38f00;
                  }
                  &.blue{
                    background: #2b9ef9;
                  }
                  &.yellow{
                    background: #f1e000;
                  }
                  &.fluor{
                    background: #4ce8de;
                  }
                }
              }
            }
          }
          .bottom{
            margin-top: 30px;
            background: #fff;
            width: 100%;
            padding-top: 10px;
            position: relative;
            .add{
              width: 40px;
              height: 40px;
              background: url(../images/icon10.png)no-repeat bottom center;
              position: absolute;
              top:10px;right: 10px;
              margin: auto;
            }
            ul{
              padding: 0 10px;
              li{
                line-height: 30px;
                font-size: 13px;
                color: #848e99;
                span{
                  color: #5eb5fb;
                }
                i{
                  float: right;
                  color: #cacacb;
                  font-style: normal;
                }
              }
            }
          }
        }
      }
    }
  }
}
//-----绩效---------//
.performan{
  width: 1390px;
  margin: 0 auto;
  .main-wrap{
    padding: 40px 0;
    position: relative;
    .side-nav{
      width: 250px;
      position: absolute;
      background: #fff;
      height: 90%;
      ul{
        width: 100%;
        margin-top: 15px;
        li{
          height: 40px;
          line-height: 40px;
          background: #eeeeef;
          text-align: center;
          margin-top: 1px;
          a{
            display: block;
            width: 100%;
            height: 200%;
            color: #7f848a;
          }
          &.active{
            background: #32a3fd;
            a{
              color:#fff;
            }
          }
        }
      }
    }
    .percontent{
      padding-left: 270px;
      .inneras{
        width: 100%;
        min-height: 600px;
        background: #fff;
        padding: 20px;
        box-sizing: border-box;
        color: #666c73;
        .innerrigt{
          width: 100%;
          position: relative;
          overflow: hidden;
        }
        input[type="text"]{
          width: 120px;
          height: 39px;
          border-radius: 5px;
          padding-left: 10px;
          border: 1px solid #ececec;
          outline: none;
          color: #848e99;
        }
        input[type="button"]{
          background: #dcdddd;
        }
        table{
          width: 100%;
          border-collapse: collapse;
          border-spacing: 0;
          margin-top: 20px;
          tr{
            font-size: 12px;
            color: #b0b0b1;
            height: 38px;
            line-height: 38px;
            text-align: center;
            input{
                width: 20px;
                height: 20px;
                position: absolute;
                top:12px;left: 0;
                margin: auto;
                opacity: 0;
            }
            label{
              width: 20px;
              height: 20px;
              display: block;
              background: url(../images/icon03.png)no-repeat center center;
            }
            input:checked +label{
              background: url(../images/icon04.png)no-repeat center center;

            }
            td,th{
              position: relative;
            }
          }
          tbody{
            tr:nth-child(2n){
              background: #f6fafd;
            }
            tr:hover{
              background: #e8eff8;
            }
            td{
              span{
                color: #3da8fd;
              }
              span.status{
                padding: 2px 9px;
                background: #5dc800;
                color: #fff;
                border-radius: 10px;
                &.green{
                  background: #5dc800;
                }
                &.orange{
                  background: #f38f00;
                }
                &.blue{
                  background: #2b9ef9;
                }
                &.yellow{
                  background: #f1e000;
                }
                &.fluor{
                  background: #4ce8de;
                }
              }
            }
          }
        }
      }
    }
  }
}
.forms{
  margin-top: 10px;
  font-size: 12px;
  color: #a3a3a3;
  &.back{
    margin-top: 20px;
    background: #f6fafd;
    padding: 20px 0;
  }
  span{
    margin-left: 30px;
  }
  select{
    width: 100px;
  }
  .logs{
    width: 100%;
    li{
      width: 100%;
      line-height: 40px;
      &:after{
        content: "";
        clear: both;
        display: block;
      }
      a{
        color: #a3a3a3;
      }
      span{
        float: right;
        margin-right: 20px;
      }
    }
  }
  span.blues{
    display: block;
    text-align: center;
    a{
      color: #3fa7fa;
    }
  }
}